Quando eu te ví passar
dentro do meu olhar
Eu percebi que é com você
Que eu quero ficar

O destino fez eu encontrar
Alguém pra compartilhar
Tudo que sinto ainda vou sentir
Quer bom que você está aqui

Eu vou te amar, em qualquer lugar
Eu vou te amar, não importa quanto tempo passar

1- ENTRADA

Ó Pai, somos nós o povo eleito
Que Cristo veio reunir (2x)

Para viver da sua vida, aleluia, O Senhor nos enviou, aleluia!

Pra anunciar o Evangelho, aleluia, O Senhor nos enviou, aleluia!

Pra caminhar na esperança, aleluia, O Senhor nos enviou, aleluia!

Pra ser sinal de salvação, aleluia,
O Senhor nos enviou, aleluia

2 - ATO PENITENCIAL

Confesso a Deus Pai Todo Poderoso, e a vós irmãos, confesso que pequei
por pensamentos, palavras, atos e omissões,
por minha culpa, tão grande culpa!

Piedade Senhor, Piedade Senhor!
Piedade De Nós! (2x)

E peço a Virgem Maria, aos Santos e Anjos,
e vós a irmãos eu peço que rogueis
ao Deus que é Pai poderoso,
para perdoar a minha culpa,
tão grande culpa.

3 -GLÓRIA

Glória, glória, anjos do céu, Cantam todos Seu amor. E na terra, homens de paz Deus merece o louvor

Deus e Pai, nós Vos louvamos, Adoramos, bendizemos. Damos glória ao Vosso nome
Vossos dons agradecemos

Senhor nosso, Jesus Cristo, Unigênito do Pai
Vós de Deus Cordeiro Santo Nossas culpas perdoai

Vós que estais junto do Pai Como nosso intercessor acolhei nossos pedidos,
Atendei nosso clamor

Vós somente sois o Santo, O Altíssimo, o Senhor. Com o espírito divino de Deus Pai no esplendor

4 – ENTRADA DA BÍBLIA

Quero levar esta Bíblia,
ir cantando em procissão,
Ir feliz como quem leva a luz do céu em suas mãos.

Ergo bem alto esta Bíblia,
ei-la entre nós e o Bom Deus!
É benção que a terra desce, é prece que sobe aos céus!

Quero nas mãos este Livro, vou levá-lo aonde for,
Eu o levo pela vida e Ele me leva ao Senhor!

Quero beijar esta Bíblia como beijo sempre sim,
Mão do Pai que me abençoa e mãe sorrindo para mim.

Quero deixar este Livro qual um coração no altar:
Coração de Deus aberto ansioso por Se revelar.

4 - REFRÃO ORANTE

A Tua Santa Palavra é como a chuva no chão: Fecunda a vida do povo, converte o seu coração!

5 - SALMO 114

ANDAREI NA PRESENÇA DE DEUS,
JUNTO A ELE NA TERRA DOS VIVOS. (BIS)

Eu amo o Senhor, porque ouve o grito da minha oração.
Inclinou para mim seu ouvido,
no dia em que eu o invoquei.

Prendiam-me as cordas da morte, apertavam-me os laços do abismo;
invadiam-me angústia e tristeza; eu então invoquei o Senhor: “salvai, ó senhor, minha vida!”

O Senhor é justiça e bondade,
nosso Deus é amor-compaixão.
É o Senhor quem defende os humildes: eu estava oprimido, e salvou-me.

Libertou minha vida da morte,
enxugou de meus olhos o pranto
e livrou os meus pés do tropeço. Andarei na presença de deus, junto a ele na terra dos vivos.


6 - ACLAMAÇÃO

Aleluia, aleluia, aleluia
Aleluia, aleluia, aleluia
Quando estamos unidos, estás entre nós
E nos falarás da tua vida
Este nosso mundo sentido terá Se tua palavra renovar

7 - OFERTÓRIO – I

Sabes, Senhor, o que temos é tão pouco pra dar, mas esse pouco,
nós queremos com os irmãos compartilhar

Queremos nesta hora,
diante dos irmãos,
comprometer a vida,
buscando a união.

Sabemos que é difícil,
os bens compartilhar,
mas com a tua graça,
senhor, queremos dar.

Olhando o teu exemplo,
senhor, vamos seguir,
fazendo o bem a todos,
sem nada exigir.


8 - SANTO

Santo, Santo, Santo, Senhor Deus do Universo.
Céus e Terra clamam seu imenso amor.
Hosana, hosana, hosana nas alturas!
E Bendito seja filho salvador, que em seu nome veio ser o Redentor
Hosana, hosana, hosana nas alturas!


9 - CORDEIRO

Cordeiro de Deus que tirais o pecado do mundo,

Tende piedade, Tende piedade, Tende piedade de nós.

Cordeiro de Deus que tirais o pecado do mundo,
Tende piedade, Tende piedade, Tende piedade de nós.

Cordeiro de Deus que tirais o pecado do mundo,
Dá-nos a paz, dá-nos a paz. Dá-nos a paz, Sr. a vossa paz

10 - COMUNHÃO

Feliz o homem que ama o Senhor E segue seus mandamentos.
O seu coração é repleto de amor, Deus mesmo é o seu alimento.

Feliz o que anda na lei do Senhor E segue o caminho que Deus lhe indicou:
Terá recompensa no Reino do céu porque muito amou.


Feliz quem se alegra em ouvir o irmão, Segundo os preceitos que Deus lhe ensinou: Verá maravilhas de Deus, o Senhor, Porque muito amou

Feliz quem confia na força do bem, seguindo os caminhos da paz e o perdão:
Será acolhido nos braços do Pai Porque muito amou.

Feliz quem da graça de bom coração E estende sua mão ao sem-voz e sem-vez, Terá no banquete um lugar para si, porque muito amou.

11 - PÓS-COMUNHÃO

Eu creio nas promessas de Deus, eu creio nas promessas de Deus,
Eu creio nas promessas
do Meu Senhor (2X)

Se sou fiel no pouco, Ele me confiará mais, Se sou fiel no pouco, Meus passos guiará (2X)

Eu creio na misericórdia de Deus, creio na misericórdia de Deus, Eu creio na misericórdia
do Meu Senhor (2X)


Eu creio no poder do Meu Deus, eu creio no poder do Meu Deus, Eu creio no poder do Meu Senhor (2X)

12 - FINAL

É como a chuva que lava, é como o fogo que abrasa. Tua palavra é assim Não passa por mim sem deixar um sinal

Tenho medo de não responder. De fingir que não escutei. Tenho medo de ouvir Teu chamado, virar do outro lado e fingir que não sei (bis)

Tenho medo de estar a gritar e Negar-Te o meu coração Tenho medo do Cristo que passa e oferece uma graça e eu Lhe digo que não (bis)
