Quando eu te ví passar
dentro do meu olhar
Eu percebi que é com você
Que eu quero ficar

O destino fez eu encontrar
Alguém pra compartilhar
Tudo que sinto ainda vou sentir
Quer bom que você está aqui

Eu vou te amar, em qualquer lugar
Eu vou te amar, não importa quanto tempo passar
